<div class="row lesson-container">
	<div class="row-container underlined-dark">
		<!-- {{lessons|json}} -->
		<p>Drag and drop lessons to create course</p>
		<!-- {{lessons|json}} -->
		<!-- {{filters|json}} -->
		<!-- {{options|json}} -->
		<!-- {{options.subjects|json}} -->
		<!-- {{lessons.data[0].grade|json}} -->
		<div style="margin-bottom: 10px;" class="row form-inline form-filter clearfix">
			<div ng-class="{'show-label' : filters.subjects.length != 0}" class="form-group col-sm-3">
				<label class="sr-only" for="lesson-subject">Subject</label>
				<ui-select multiple theme="bootstrap" style="width: 100%;" close-on-select="false" title="Choose a Subject" id="lesson-subject" ng-model="filters.subjects">
					<ui-select-match placeholder="All Subjects">{{$item}}</ui-select-match>
					<ui-select-choices repeat="subject in options.subjects track by $id(subject)| filter:$select.search">
				    	{{subject}}
				    </ui-select-choices>
					<!-- <option>Select Grade</option> -->
				</ui-select>
			</div>
			<div ng-class="{'show-label' : filters.grades.length != 0}" class="form-group col-sm-3">
				<label class="sr-only" for="lesson-grade">Grade</label>
				<ui-select multiple theme="bootstrap" style="width: 100%;" close-on-select="false" title="Choose a Grade" id="lesson-grade" ng-model="filters.grades">
					<ui-select-match placeholder="All Grades">{{$item}}</ui-select-match>
					<ui-select-choices repeat="grade in options.grades track by $id(grade)| filter:$select.search">
				    	{{grade}}
				    </ui-select-choices>
					<!-- <option>Select Grade</option> -->
				</ui-select>
			</div>
			<div class="form-group  col-sm-offset-2 col-sm-4">
				<div class="input-group">
				  <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2" ng-model="filters.search" >
				  <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search"></span></span>
				</div>
			</div>
			
		</div>
	</div>
	<ul style="padding: 0px;margin: 0px;">
		<li style="display: block;" ng-repeat="lesson in lessons.data | pick:gradeFilter | pick:subjectFilter | filterBy: ['title']: filters.search" class="row-container underlined-light" dnd-draggable="lesson" dnd-effect-allowed="move" dnd-selected="lessons.selected = lesson" ng-class="{'selected': lessons.selected === lesson}">
			<!-- {{lesson| json}} -->
			<div class="featurette clearfix">
				<div class="col-sm-4">
					<div class="featurette-thumbnail">
						<img class="img-responsive" src="assets/img/lessons/topic{{lesson.id}}.jpg">
					</div>
				</div>
				<div class="col-sm-8">
					<div style="height: 150px;">
						<h4 style="margin-top:0px;"><b>{{lesson.title}}</b></h4>
						<p><span>{{lesson.subject}} </span><span>Grade {{lesson.grade}}</span></p>
						<div class="clearfix featurette-bottom">
							<div class="pull-left">
								<span>
									{{lesson.noOfVideos}} <span class="glyphicon glyphicon-facetime-video"></span>&nbsp;
									{{lesson.noOfDocuments}} <span class="glyphicon glyphicon-file"></span>&nbsp;
									{{lesson.noOfQuestions}} <b>Q</b>
								</span>
							</div>
							<div class="pull-right">
								<i>{{lesson.date}}</i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>